@import "bootstrap";

$primary_gradient: linear-gradient(128deg, #041A29 0%, #01101A 100%);
$gold_gradient: repeating-linear-gradient(to right, #a2682a 0%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%,  #be8c3c 67%,  #bb8332 83%, #a4692a 100%);

$black_color: #000000;
$dark_color: #000C14;
$white_color: #ffffff;
$text_color: #A9A9A9;

@mixin transition($duration: 0.3s, $mode: ease-out) {
  -webkit-transition: $duration $mode;
  -moz-transition: $duration $mode;
  -ms-transition: $duration $mode;
  -o-transition: $duration $mode;
  transition: $duration $mode;
}

@mixin transform($mode: scale(1.1)) {
  transform: $mode;
  -moz-transform: $mode;
  -webkit-transform: $mode;
  -ms-transform: $mode;
  -o-transform: $mode;
}

@font-face {
  font-family: "mavaranet-font";
  src: url(../fonts/IRANSansWeb.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "mavaranet-font";
  src: url(../fonts/IRANSansWeb_Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "mavaranet-font";
  src: url(../fonts/IRANSansWeb_Light.woff2) format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "mavaranet-font";
  src: url(../fonts/YekanBakh-Heavy.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "mavaranet-font";
  src: url(../fonts/YekanBakh-Fat.woff2) format("woff2");
  font-weight: 800;
  font-display: swap;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes MoveBackgroundPosition { 
  0% {
      background-position: 0% 50%
  }
  
  50% {
    background-position: 100% 50%
  }
  
  100% {
    background-position: 0% 50%
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "mavaranet-font";
  font-weight: 400;
  line-height: 1.75;
  overflow-x: hidden;
  background: $primary_gradient;
  
}

.wrapper {
  padding: 5rem 0;

  @media (max-width: 1366px) {
    padding: 4.5rem 0;
  }

  @media (max-width: 1200px) {
    padding: 4.25rem 0;
  }

  @media (max-width: 991px) {
    padding: 4rem 0;
  }

  @media (max-width: 768px) {
    padding: 3.75rem 0;
  }

  @media (max-width: 576px) {
    padding: 3.25rem 0;
  }

  @media (max-width: 420px) {
    padding: 3rem 0;
  }
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
}

a:hover {
  color: inherit;
}

input,
select,
textarea,
button {
  resize: none;
  border: 0;
  outline: 0;

  &[disabled] {
    cursor: no-drop;
  }

  &[type=number] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.flex-dir {
  flex-direction: row-reverse;
}

.right-image {
  .row {
    flex-direction: row-reverse;
  }
}

.btn {
  font-weight: 700;
}

.height-auto {
  height: auto !important;
}

.white-color {
  color: $white_color !important;
}

section.f5f5f5 {
  background-color: #f5f5f5 !important;
}


a {
  text-decoration: none;
}

.left-240 {
  left: 240px;
}

.top-300 {
  top: 300px;
}

.right-240 {
  right: 240px;
}

.bottom-30 {
  bottom: 30px;
}

.z--1 {
  z-index: -1;
}

.fw-900 {
  font-weight: 900 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.clear {
  clear: both;
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
    margin: auto;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  margin: 0;
}

.fs16 {
  font-size: 1rem;
}

// ripple animation Start
.has-ripple {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.white-bg {
  background-color: $white_color;
}

.light-bg {
  background-color: #fafafc;
}


.ripple {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: color("header_color");
  opacity: 1;
}

.btn {
  padding: 1rem 1.5rem;
}


.ripple-animate {
  -webkit-animation: ripple;
  -o-animation: ripple;
  animation: ripple;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

// ripple animation End

@media (max-width: 576px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 768px) {
  .mt-22 {
    margin-top: 22.5rem;
  }
}

.custom-btn {
  align-items: center;
  border-radius: .5rem;
  background-image: $gold_gradient;
  display: flex;
  color: $dark_color;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  width: 150px;
  min-width: 150px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;


  &:focus {
    box-shadow: none;
  }

  span {
    border: 1px solid rgba(255, 255, 255, 0.35);
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    left: 0;
    width: 100%;
    font-weight: 500;
    position: absolute;
    top: 0;
    transform: translate(-8px, -8px);
    transition: transform .2s ease-out;
    z-index: 2;
  }

  &:hover {
    span {
      transform: translate(0, 0);
    }
  }
}
